<!-- jQuery -->
<script src="/lib/jquery/jquery.min.js"></script>

<!-- Angular JS -->
<script type="text/javascript" src="/lib/angular/angular.min.js"></script>
<script type="text/javascript" src="/lib/angular/angular-cookies.min.js"></script>
<script type="text/javascript" src="/lib/angular/angular-resource.min.js"></script>
<script type="text/javascript" src="/lib/angular/angular-animate.min.js"></script> 

<!-- AngularUI-->
<script type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/lib/angular-ui-calendar/vendor/fullcalendar.min.js"></script>
<script src="/lib/angular-ui-calendar/calendar.js"></script>
<script src="/lib/angular-ui-utils/ui-utils.min.js"></script>

<!-- Plugins -->
<script src="/lib/moment/moment.min.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/global.js"></script>

<!-- AngularChosen -->
<script src="/lib/angular-chosen/vendor/chosen.js"></script>
<script src="/lib/angular-chosen/chosen.js"></script>

<!-- AngularSelectize -->
<script src="/lib/angular-selectize/angular-selectize.js"></script>
<script src="/lib/angular-selectize/vendor/js/standalone/selectize.min.js"></script>

<!-- AngularStrap -->
<script src="//rawgithub.com/mgcrea/angular-strap/master/dist/angular-strap.min.js"></script>
<script src="//rawgithub.com/mgcrea/angular-strap/master/dist/angular-strap.tpl.min.js"></script>

<!-- TextAngular -->
<script src="/lib/angular-text/textAngular.min.js"></script>
<script src="/lib/angular-text/textAngular-sanitize.min.js"></script>

<!-- AngularSocket -->
<script src="/lib/angular-socket-io/socket.min.js"></script>

<!-- Application Init -->
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/config.js"></script>
<script type="text/javascript" src="/js/directives.js"></script>
<script type="text/javascript" src="/js/filters.js"></script>

<!-- Application Services -->
<script type="text/javascript" src="/js/services/global.js"></script>
<script type="text/javascript" src="/js/services/socket.js"></script>
<script type="text/javascript" src="/js/services/timelogs.js"></script>
<script type="text/javascript" src="/js/services/issues.js"></script>
<script type="text/javascript" src="/js/services/projects.js"></script>
<script type="text/javascript" src="/js/services/clients.js"></script>
<script type="text/javascript" src="/js/services/users.js"></script>
<script type="text/javascript" src="/js/services/sprints.js"></script>
<script type="text/javascript" src="/js/services/rates.js"></script>
<script type="text/javascript" src="/js/services/status.js"></script>
<script type="text/javascript" src="/js/services/paychecks.js"></script>

<!-- Application Controllers -->
<!-- Models -->
<script type="text/javascript" src="/js/controllers/sprints.js"></script>
<script type="text/javascript" src="/js/controllers/timelogs.js"></script>
<script type="text/javascript" src="/js/controllers/issues.js"></script>
<script type="text/javascript" src="/js/controllers/projects.js"></script>
<script type="text/javascript" src="/js/controllers/clients.js"></script>
<script type="text/javascript" src="/js/controllers/users.js"></script>
<script type="text/javascript" src="/js/controllers/rates.js"></script>
<script type="text/javascript" src="/js/controllers/status.js"></script>
<script type="text/javascript" src="/js/controllers/paychecks.js"></script>
<script type="text/javascript" src="/js/controllers/nav.js"></script>

<!-- Views -->
<script type="text/javascript" src="/js/controllers/index.js"></script>
<script type="text/javascript" src="/js/controllers/header.js"></script>
<script type="text/javascript" src="/js/controllers/footer.js"></script>
<script type="text/javascript" src="/js/controllers/chat.js"></script>
<script type="text/javascript" src="/js/controllers/sidenav.js"></script>
<script type="text/javascript" src="/js/controllers/timelogs.js"></script>

<script type="text/javascript" src="/js/init.js"></script>

 
{% if (process.env.NODE_ENV == 'development') %}
    <!-- Livereload script rendered -->
    <script type="text/javascript" src="{{'http://' + req.host + ':35729/livereload.js'}}"></script>
{% endif %}
