
<div id="sidenav">
<div id="section" class="home">
				<span class="icon"><i class="fa fa-home"></i></span>
				<span class="title">Home</span>
</div>
	<ul class="nav">

		<li class="day">
			<a > 
				<span class="icon"><i class="fa fa-sun-o"></i></span>
				<span class="title">Day</span>
			</a>
		</li>
				<li class="clients">
			<a > 
				<span class="icon"><i class="fa fa-users"></i></span>
				<span class="title">Clients</span>
			</a>
		</li>
		<li class="projects">
			<a > 
				<span class="icon"><i class="fa fa-crop"></i></span>
				<span class="title">Projects</span>
			</a>
		</li>
		<li class="issues">
			<a > 
				<span class="icon"><i class="fa fa-list"></i></span>
				<span class="title">Issues</span>
			</a>
		</li>
		<li class="pay-period">
			<a > 
				<span class="icon"><i class="fa fa-calendar"></i></span>
				<span class="title">Pay Period</span>
			</a>
		</li>
		<li class="paychecks">
			<a > 
				<span class="icon"><i class="fa fa-money"></i></span>
				<span class="title">Paychecks</span>
			</a>
		</li>
		<li class="documentation">
			<a > 
				<span class="icon"><i class="fa fa-file-text-o"></i></span>
				<span class="title">Documentation</span>
			</a>
		</li>
	</ul>
</div>