<section ng-controller="ChatController">
	<a ng-click='toggle = !toggle' class="btn btn-default navbar-btn navbar-right"><i class="fa fa-comments"></i> Chat</a>
	
	<section id="chat" ng-show="toggle">
		<section class="output">
			<section class="message" ng-repeat="message in messages">
			<table>
			<tr>
			<td valign="top">
				<img class="avatar pull-left" src="{{message.user.google.picture}}"/>
			</td>
			<td>
			<section class="message-body">
			{{message.text}}
		
			<section class="message-author">
			{{message.user.name}} • {{message.date | date}}
			</section>
				</section>
			</td>
			</tr>
			</table>		
			</section>
		</section>

		<section class="input">
		<form>
		      <input type="text" class="form-control input-lg" ng-model="message.text" ng-enter="sendMessage()" placeholder="Send a message">
		      </form>
		</section>
	</section>
</section>