 <section ng-controller="HeaderController">
   <section id="header" class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" >
            <img src="/img/icons/favicon.gif" style="height:30px; margin-top:-3px;"/> TimeCraft
        </a> 
    </div>
    <a href="/auth/google" class="btn btn-danger navbar-btn navbar-right" data-ng-hide="global.authenticated"><i class="fa fa-google-plus"></i> &nbsp;Sign in</a>
    
    <ul class="navbar-nav nav pull-right" data-ng-show="global.authenticated">
        <li><a><i class="fa fa-gear"></i>&nbsp;&nbsp;Settings</a></li>                                                                       
        <li class="dropdown">
            <a href="#" class="dropdown-toggle dropdown-avatar" data-toggle="dropdown">
                <img class="avatar img-circle" src="{{global.user.google.picture}}"/>  <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/signout">Signout</a>
                </li>
            </ul>
        </li>
    </ul> 
    </div>
</section>

<nav id="nav" ng-include="'views/nav.html'"></nav>
</section>