
<div id="sidenav" ng-controller="SidenavController">
	<ul class="nav">
		<li class="day">
			<a href="#!/timelogs/{{today}}"> 
				<span class="icon"><i class="fa fa-sun-o"></i></span>
				<span class="title">Day</span>
			</a>
		</li>
				<li class="clients">
			<a href="#/clients"> 
				<span class="icon"><i class="fa fa-users"></i></span>
				<span class="title">Clients</span>
			</a>
		</li>
		<li class="projects">
			<a href="#/projects"> 
				<span class="icon"><i class="fa fa-crop"></i></span>
				<span class="title">Projects</span>
			</a>
		</li>
		<li class="issues">
			<a href="#/issues"> 
				<span class="icon"><i class="fa fa-list"></i></span>
				<span class="title">Issues</span>
			</a>
		</li>
		<li class="pay-period">
			<a href="#/period"> 
				<span class="icon"><i class="fa fa-calendar"></i></span>
				<span class="title">Pay Period</span>
			</a>
		</li>
		<li class="paychecks">
			<a href="#/paychecks"> 
				<span class="icon"><i class="fa fa-money"></i></span>
				<span class="title">Paychecks</span>
			</a>
		</li>
		<li class="documentation">
			<a href="#/documentation"> 
				<span class="icon"><i class="fa fa-file-text-o"></i></span>
				<span class="title">Documentation</span>
			</a>
		</li>
	</ul>
</div>
