/*------------------------
Defaults
-------------------------*/
body {
  background:#e5e5e5;
  font-family: 'Roboto', sans-serif;
  font-size:18px;
}
textarea {
  resize: none;
}
ul{
  list-style:none;
}
/*------------------------
Top Navigation
-------------------------*/
#topnav {
  background:#343131;
  color:#fff;
   height:60px;
    padding:5px;
  margin-bottom:0;

}
#topnav .navbar-brand{
  font-size:20px;
}
#topnav a{
  color:#fff;
}
/*------------------------
Side Navigation
-------------------------*/
#sidenav {
  position:absolute;
  width: 250px;
  float: left;
  font-size: 18px;
   font-family: 'Roboto', sans-serif;
  -moz-box-shadow: 0 1px 6px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 1px 6px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.1);
  box-shadow: 0 1px 6px rgba(0,0,0,0.1);
}
#sidenav a{
  padding:0;
}
#sidenav a:hover{
  background-color:inherit !important;
}
#sidenav span{
  display:inline-block;
  height:60px;
  padding:16px 16px 16px 16px;
}
#sidenav .icon{
  width:50px;
  float:left;
  color:#fff;
}
#sidenav .title{
  width:200px;
  background-color: rgba(245, 245, 245, 0.952941);
  color:#333;
}
#sidenav .title:hover{
  background-color:inherit;
  color:#fff;
}

#section .icon,
#section .title{
  background:inherit;
  color:white;
}
/*------------------------
Sub Navigation
-------------------------*/
#subnav{
    background:#fff;
    height:60px;
    padding:5px;
    margin-bottom:0;
      -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.05);
  -ms-box-shadow: 0 1px 0 rgba(0,0,0,0.05);
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.05);
  box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
#title{
  height:60px;
  color:white;
}
/*------------------------
Main
-------------------------*/
#main{
  position: relative;
  margin-left: 250px;
}
#content{
}
/*------------------------
Panels
-------------------------*/
.panel{
  margin:20px;
    -moz-box-shadow: 0 1px 6px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 1px 6px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.1);
  box-shadow: 0 1px 6px rgba(0,0,0,0.1);
}
}
.panel-footer {
  background:#f8f8f8;
}

/*------------------------
Navbar
-------------------------*/
.navbar-tooltip{
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.05);
  -ms-box-shadow: 0 1px 0 rgba(0,0,0,0.05);
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.05);
  box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}

/*----------------------------
MISC
-----------------------------*/

/* Loader */
#loader {
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1100;
  background-color: white;
  opacity: .6;
}
  #loader .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -82px; /* -1 * image height / 2 */
    display: block;
  }


.day{
  background:rgb(63, 92, 169);
}
.clients{
 
}
.projects{
background:rgb(251, 133, 33);
}
.home{
  background:rgb(68, 68, 68);
}
.pay-period{
  background:rgb(126, 55, 148);
}
.issues{
  background-color: rgb(206, 80, 67);
}
.paychecks{
  background:rgb(77, 184, 73)
}
.documentation{
 background:rgb(101, 128, 146);
}



