<div ng-controller="dayController">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <!--<div class="navbar navbar-default navbar-panel navbar-static-top">-->
                    <div class="row">
                        <div class="col-lg-8">
                            <a href="#/timelog/create/{{pickerDate}}"><button class="btn btn-primary">Add</button></a>
                            {{result}}
                        </div>
                        <div class="col-lg-4">
                            <div class="navbar-form">
                                <div class="input-group" ng-controller="datepickerController">
                                    <input type="text"
                                           class="form-control"
                                           datepicker-popup="{{format}}"
                                           is-open="opened"
                                           starting-date="{{today.date}}"
                                           ng-model="pickerDate"       
                                           datepicker-options="dateOptions"
                                           date-disabled="disabled(date, mode)"
                                           close-text="Close"
                                           style="text-align:right;"
                                           />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                <!--</div>-->
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Time In</th>
                            <th>Time Out</th>
                            <th>Project</th>
                            <th>Description</th>
                            <th>Issue Number</th>
                            <th>Logged?</th>
                            <th>Hours</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="timelog in timelogs">
                            <td>{{timelog.TimeIn}}</td>
                            <td>{{timelog.TimeOut}}</td>
                            <td></td>
                            <td>{{timelog.Description}}</td>
                            <td>{{timelog.IssueNumber}}</td>
                            <td>{{timelog.Logged}}</td>
                            <td></td>
                            <td><a href="#/timelog/"><i class="fa fa-pencil"></i></a></td>
                            <td>Delete</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>