/*------------------------
Defaults
-------------------------*/
html {
  width: auto !important;
  overflow-x: hidden !important;
}
body {
  background:#e5e5e5;
  font-family: 'Roboto', sans-serif;
  font-size:18px;
 width: auto !important;
  overflow-x: hidden !important;
}
textarea {
  resize: none;
}
ul{
  list-style:none;
}
/*------------------------
Header
-------------------------*/
#header {
  background:#343131;
  color:#fff;
  margin-bottom:0;
  border-bottom:none;

}
#header .navbar-brand{
  font-size:20px;
}
#header a{
  color:#fff;
}
/*------------------------
Side Navigation
-------------------------*/
#nav {
  position:fixed;
  top:52px;
  left:0px;
  width: 250px;
  float: left;
  font-size: 18px;
   font-family: 'Roboto', sans-serif;
  -moz-box-shadow: 0 1px 6px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 1px 6px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.1);
  box-shadow: 0 1px 6px rgba(0,0,0,0.1);
  z-index:9999;
}
#nav a{
  padding:0;
}
#nav a:hover{
  background-color:inherit !important;
}
#nav span{
  display:inline-block;
  height:60px;
  padding:16px 16px 16px 16px;
}
#nav .icon{
  width:50px;
  float:left;
  color:#fff;
}
#nav .title{
  width:200px;
  background-color: rgba(245, 245, 245, 0.90);
  color:#333;
}
#nav .title:hover{
  background-color:inherit;
  color:#fff;
}
/*------------------------
Sub Navigation
-------------------------*/
#subnav{
    background:#fff;
    font-family: 'Roboto', sans-serif;
    height:60px;
    padding:0px;
    margin-bottom:0;
      -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.05);
  -ms-box-shadow: 0 1px 0 rgba(0,0,0,0.05);
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.05);
  box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
#current{
  height:60px;
  width:250px;
  float:left;
  background:#444;
  color:white;
}
#current span{
  display:inline-block;
  height:60px;
  padding:16px 16px 16px 16px;
}
#current .icon{
  width:50px;
  float:left;
  color:#fff;
}
#current .title{
  width:200px;
  color:#fff;
}
/*------------------------
Footer
-------------------------*/
.navbar-btn{
  margin-left:15px;
  margin-right:15px;
 }

#footer .nav>li>a:hover, .nav>li>a:focus {
  background-color:inherit;
}
/*------------------------
Chat
-------------------------*/
#chat{
  position:fixed;
  bottom:52px;
  right:0px;
  width:300px;
  height:436px;
  background:rgb(229,229,229);
  border: 1px solid #ccc;
  border-bottom:none;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
 z-index:9999;
 }
 #chat .chat-header{
  position:absolute;
  top:0;
  left:-1px;
  height:36px;
  width:301px;
  background:#343131;
 }
 #chat .chat-output{
  position:absolute;
  top:36px;

  width:300px;
  height:353px;
   padding:15px;
     overflow-y:auto;
  overflow-x:hidden;
 }
  #chat .chat-input{
  position:absolute;
  width:301px;
  bottom:0;
    left:-1px;
 }
 #chat .chat-input .form-control{
  border-radius:0;
 }
 #chat .message{
  font-family: arial, sans-serif;
  font-size: 13px;
  padding:5px;
 }
 #chat .message-body{
  background:#fff;
  padding:8px;
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
 }
 #chat .message-author{
  padding-top:5px;
  color:rgba(0, 0, 0, 0.298039);
  font-size:11px;
 }
 #chat .chat-header{
  padding:10px;
  color:#fff;
 }
  #chat .chat-header i{
    cursor:pointer;
  }
/*------------------------
Main
-------------------------*/
#content{
  padding-top:75px;
  min-height:400px;
}
/*------------------------
Panels
-------------------------*/
.panel{
  margin:20px;
    -moz-box-shadow: 0 1px 6px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 1px 6px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.1);
  box-shadow: 0 1px 6px rgba(0,0,0,0.1);
}
}
.panel-footer {
  background:#f8f8f8;
}

/*------------------------
Navbar
-------------------------*/


/*----------------------------
MISC
-----------------------------*/
/* Loader */
#loader {
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1100;
  background-color: white;
  opacity: .6;
}
  #loader .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -82px; /* -1 * image height / 2 */
    display: block;
  }


/*----------------------------
Theme
-----------------------------*/
.timelogs{
  background:rgb(63, 92, 169) !important;
}
.sprints{
  background:#427fed !important;
}
.clients{
 background:rgb(255, 187,27) !important;
}
.projects{
background:rgb(251, 133, 33) !important;
}
.home{
  background:rgb(68, 68, 68) !important;
}
.pay-period{
  background:rgb(126, 55, 148) !important;
}
.issues{
  background-color: rgb(206, 80, 67) !important;
}
.paychecks{
  /*background:rgb(77, 184, 73) !important;*/
     background:rgb(26, 135, 99) !important;
}
.documentation{
 background:rgb(101, 128, 146) !important;
}



.well-description{
  margin-top:20px;
}

.avatar{
  width:36px;
  height:36px;
}
.dropdown-avatar{
  padding:8px 15px 8px !important;
}

.ta-editor.form-control{
  height:auto !important;
  min-height:200px;
  margin-bottom:20px;
}