  <div class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title"><i class="fa fa-plus"></i> Create</h4>
      </div>
      <div class="aside-body">
       <form>
               <div class="form-group">
          <label>Title</label>
          <input class="form-control" ng-model="name" id="title"/>
        </div>
       <div class="form-group" ng-controller="ProjectsController" data-ng-init="find()">
          <label>Project</label>
          <select id="project" ng-model="$parent.project" ng-options="project._id as project.name for project in projects" class="form-control" required></select>
        </div>
        <div class="form-group">
          <label>Start Date</label>
          <input type="text" class="form-control" ng-model="startDate" id="startDate" placeholder="Start Time" data-autoclose="1" placeholder="Date" bs-datepicker required />
        </div>
        <div class="form-group">
          <label>Stop Date</label>
          <input type="text" class="form-control" ng-model="stopDate" id="stopDate" placeholder="Stop Time" placeholder="Date" bs-datepicker required />
        </div>

      </form>
    </div>
    <div class="aside-footer">
      <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      <button type="button" class="btn btn-primary" ng-click="create(); $hide()">Save changes</button>
    </div>
  </div>
</div>
</div>
