    	<section data-ng-controller="SprintsController" data-ng-init="find()">


       <div class="row">
         <div class="col-lg-12">
          <!--sprints repeater -->
          <section class="panel panel-default">
           <!--tooltip-->
           <section class="navbar navbar-default navbar-static-top navbar-tooltip">
            <div class="navbar-brand">Sprints</div>
            <!-- aside button -->
            <button type="button" class="btn btn-primary navbar-btn navbar-right" data-template="views/sprints/create.html" data-placement="right" data-animation="am-slide-right" bs-aside="aside" data-container="body">Add
            </button>
            <!--datepicker-->
            <form class="navbar-form navbar-right">
             <div class="form-group" ng-controller="ProjectsController" ng-init="find()">
              <select class="form-control" ng-model="$parent.projectFilter" ng-options="project.name as project.name for project in projects">
                <option value="">Select Project...</option>
              </select>
            </div>
            <div class="form-group" ng-class="{'has-error': datepickerForm.date2.$invalid}">
              <div class="input-group" style="width:300px">
                <input type="text" class="form-control" ng-model="globalFilter" Placeholder="Search">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
              </div>              
            </div>
          </form>
          
        </section>
        <table class="table">
          <thead>
            <tr>
              <th>Title</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Project</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="sprint in sprints | filter:globalFilter | filter:projectFilter">
              <td>{{sprint.name}}</td>
              <td>{{sprint.startDate | date}}</td>
              <td>{{sprint.stopDate | date}}</td>
              <td>{{sprint.project.name}}</td>
              <td>
               <div class="btn-group">
                 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                 <li><a href="#!/sprints/{{sprint._id}}" ><i class="fa fa-eye"></i> View</a></li>
                 <li><a ng-click="edit(sprint)" data-template="views/sprints/edit.html" data-placement="right" data-animation="am-slide-right" bs-aside="aside" data-container="body"><i class="fa fa-pencil"></i> Edit</a></li>
                 <li class="divider"></li>
                 <li><a ng-click="remove(sprint)" ><i class="fa fa-trash-o"></i> Delete</a></li>
               </ul>
             </div>
           </td>
         </tr>
       </tbody>
     </table>
   </section> 
 </div>
</div>
</section>