	<div class="aside" tabindex="-1" role="dialog">
    <div class="aside-dialog">
      <div class="aside-content">
        <div class="aside-header projects">
          <button type="button" class="close" ng-click="$hide()">&times;</button>
          <h4 class="aside-title"><i class="fa fa-plus"></i> Create</h4>
        </div>
        <div class="aside-body">
         <form>
           <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" ng-model="name" id="name" placeholder="Name" required>
          </div>
          <div class="form-group">
            <label>Client</label>
            <select id="client"></select>
          </div>
          <div class="form-group">
            <label>Url</label>
            <input type="text" class="form-control" ng-model="url" id="url" placeholder="URL"  required>
          </div>
          <div class="form-group">
            <label>Status</label>
            <select id="status"></select>
          </div>
        </form>
      </div>
      <div class="aside-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="create(); $hide()">Save changes</button>
      </div>
    </div>
  </div>
  </div>
