	<div class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title"><i class="fa fa-plus"></i> Create</h4>
      </div>
      <div class="aside-body">
      <pre>{{description}}{{startTime}}</pre>
       <form>
       <div class="form-group" ng-controller="IssuesController" data-ng-init="find()">
          <label>Issue</label>
          <select id="issue" ng-model="$parent.issue" ng-options="issue._id as issue.name for issue in issues" class="form-control" required></select>
        </div>
        <div class="form-group">
          <label>Start Time</label>
          <input type="text" class="form-control" ng-model="startTime" id="start" placeholder="Start Time" data-autoclose="1" placeholder="Time" bs-timepicker required>
        </div>
        <div class="form-group">
          <label>Stop Time</label>
          <input type="text" class="form-control" ng-model="stopTime" id="stop" placeholder="Stop Time" placeholder="Time" bs-timepicker required>
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea ng-model="description" id="description" cols="30" rows="10" placeholder="Description" class="form-control" required></textarea>
        </div>
      </form>
    </div>
    <div class="aside-footer">
      <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      <button type="button" class="btn btn-primary" ng-click="create(); $hide()">Save changes</button>
    </div>
  </div>
</div>
