	    <section data-ng-controller="TimelogsController" data-ng-init="findOne()">
 <!--tooltip-->
        <section class="navbar navbar-default navbar-fixed-top toolbar">

          <!-- tooltip header -->
          <div class="navbar-header">
            <div class="navbar-brand">Timelogs - {{timelog.issue.name}}</div>
          </div>

     </section> 
	    	<section class="row">

	    		<section class="col-lg-6">
	    			<!--issues repeater -->
	    			<section class="panel panel-default">
	    				<div class="panel-heading">Details</div>
	    				<div class="panel-body">
	    					<div class="form-group">
	    						<label>Issue</label>
	    						<div>{{timelog.issue.name}}</div>
	    					</div>      

	    					<div class="form-group">
	    						<label>Start Time</label>
	    						<div>{{timelog.startTime | date:'medium'}}</div>
	    					</div>
	    					<div class="form-group">
	    						<label>End Time</label>
	    						<div>{{timelog.stopTime | date:'medium'}}</div>
	    					</div>

	    					<div class="form-group">
	    						<label>User</label>
	    						<div>{{timelog.user.name}}</div>
	    					</div>                
	    				</div>
	    			</section>
	    		</section>

	    		<section class="col-lg-6">
	    			<!--issues repeater -->
	    			<section class="panel panel-default">
	    				<div class="panel-heading">Desciption</div>
	    				<div class="panel-body">
	    					<div class="form-group">
	    						<div class="form-group">
	    							<div>{{timelog.description}}</div>
	    						</div>      

	    					</div>
	    				</div>
	    			</section>
	    		</section>
	    	</section>
	    	<section class="row">
	    		<section class="col-lg-12">
	    			<!--issues repeater -->
	    			<section class="panel panel-default">
	    				<div class="panel-heading">Comments</div>
	    				<div class="panel-body">
	    					<div class="form-group">
	    					</div>
	    				</div>
	    			</section>
	    		</section>
	    	</section>
	    </section>














