	<div class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header issues">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title"><i class="fa fa-plus"></i> Create</h4>
      </div>
      <div class="aside-body">
       <form>
       <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" ng-model="name" id="name" placeholder="Issue Name" required>
        </div>
        <div class="form-group">
          <label>Story</label>
             <div text-angular ng-model="story" id="story">
        </div>
        <div class="form-group">
          <label>Estimate</label>
          <input type="text" class="form-control" ng-model="estimate" id="estimate" placeholder="In hours" required>
        </div>
               <div class="form-group" ng-controller="ProjectsController" data-ng-init="find()">
          <label>Project</label>
          <select id="project" ng-model="$parent.project" ng-options="project._id as project.name for project in projects" class="form-control" required></select>
        </div>
        <div class="form-group" ng-controller="SprintsController" data-ng-init="find()">
          <label>Sprint</label>
          <select id="sprint" ng-model="$parent.sprint" ng-options="sprint._id as sprint.name for sprint in sprintss" class="form-control" required></select>
        </div>
        <div class="form-group" ng-controller="UsersController" data-ng-init="find()">
          <label>Assigned To</label>
          <select ng-model="$parent.assignedTo" id="assignedTo" ng-options="u._id as u.name for u in users" class="form-control"></select>
        </div>
      </form>
    </div>
    <div class="aside-footer">
      <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      <button type="button" class="btn btn-primary" ng-click="create(); $hide()">Save changes</button>
    </div>
  </div>
</div>
</div>
