	<div class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header issues">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title"><i class="fa fa-plus"></i> Edit</h4>
      </div>
      <div class="aside-body">
       <form>
       <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" ng-model="issue.name" id="name" placeholder="Issue Name" required>
        </div>
        <div class="form-group">
          <label>Story</label>
          <input type="text" class="form-control" ng-model="issue.story" id="story" placeholder="As a [role], I want [feature] so that [result]." required>
        </div>
        <div class="form-group">
          <label>Estimate</label>
          <input type="text" class="form-control" ng-model="issue.estimate" id="estimate" placeholder="In increments of 0.25 hours" required>
        </div>
        <div class="form-group" ng-controller="UsersController" data-ng-init="find()">
          <label>Assigned To</label>
          <select ng-model="$parent.issue.assignedTo" id="assignedTo" ng-options="u._id as u.name for u in users" class="form-control"></select>
        </div>
      </form>
    </div>
    <div class="aside-footer">
      <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      <button type="button" class="btn btn-primary" ng-click="update(); $hide()">Save changes</button>
    </div>
  </div>
</div>
</div>
