	    <section data-ng-controller="IssuesController" data-ng-init="findOne()">
        <!--tooltip-->

        <section class="navbar navbar-default navbar-static-top navbar-tooltip">
          <!--datepicker-->
          <div class="navbar-brand">{{issue.name}}</div>
          <!-- aside button -->
          <button type="button" class="btn btn-primary navbar-btn navbar-right" data-template="views/issues/create.html" data-placement="right" data-animation="am-slide-right" bs-aside="aside" data-container="body">Add
          </button>
        </section>

        <section class="row">
          <div class="col-lg-6">


            <section class="row">
              <div class="col-lg-12">
                <!--issues repeater -->
                <section class="panel panel-default">
                  <div class="panel-heading">Details</div>
                  <div class="panel-body">   
                   <div class="form-group">
                    <label>Name</label>
                    <div>{{issue.name}}</div>
                  </div>
                  <div class="form-group">
                    <label>Estimate</label>
                    <div>{{issue.estimate}}</div>
                  </div>
                  <div class="form-group" ng-controller="UsersController" data-ng-init="find()">
                    <label>Status</label>
                    <div>{{issue.assignedTo.name}}</div>
                  </div>
                </div>
              </section>

            </div>
          </section>

          <section class="row">
            <div class="col-lg-12">
              <!--issues repeater -->
              <section class="panel panel-default">
                <div class="panel-heading">Assigned To</div>
                <div class="panel-body">   

                  <div class="form-group" ng-controller="UsersController" data-ng-init="find()">
                    <div>{{issue.assignedTo.name}}</div>
                  </div>
                </div>
              </section>
            </div>
          </section>

          <section class="row">
           <div class="col-lg-12">
            <!--issues repeater -->
            <section class="panel panel-default">
              <div class="panel-heading">Story</div>
              <div class="panel-body">   
               <div class="form-group">
                 <div ng-bind-html="issue.story"></div>
               </div>
             </div>
           </section>
         </div>
       </section>

     </div>
     <div class="col-lg-6">
      <!--issues repeater -->
      <section class="panel panel-default">
        <div class="panel-heading">Comments</div>
        <div class="panel-body">   
         <div class="form-group">
           <div ng-bind-html="issue.story"></div>
         </div>
       </div>
     </section>

   </div>
 </section>
</section>







