    <div ng-controller="dayController">
        <div class="navbar navbar-default navbar-static-top navbar-tooltip">

            <form class="navbar-form navbar-right" role="search">
                <div class="form-group" ng-class="{'has-error': datepickerForm.date2.$invalid}">
    <label class="control-label"><i class="fa fa-calendar"></i> Date <small>(as number)</small></label>
    <input type="text" class="form-control" ng-model="selectedDateAsNumber" data-date-format="yyyy-MM-dd" data-date-type="number" data-min-date="01/01/14" data-autoclose="1" name="date2" bs-datepicker>
  </div>
            </div>
        </form>

    </div>
    <div class="row">
      <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Add New</div>
                <div class="panel-body">
                   
              </div>
              <div class="panel-footer clearfix">
                <a><button class="btn btn-primary pull-right">Add</button></a>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                         <div class="panel-heading">Timelogs</div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="40%">Issue</th>
                            <th width="15%">Time In</th>
                            <th width="15%">Time Out</th>
                            <th width="15%">Hours</th>
                            <th width="15%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="timelog in timelogs">
                            <td>{{timelog.IssueNumber}}</td>
                            <td>{{timelog.TimeIn | date }}</td>
                            <td>{{timelog.TimeOut | date:'hh'}}</td>
                            <td></td>
                            <td>
                                <a href="#/timelog/" class="btn btn-default"><i class="fa fa-pencil"></i></a>
                                <a href="#/timelog/" class="btn btn-default"><i class="fa fa-trash-o"></i></a>
                                <a href="#/timelog/" class="btn btn-default"><i class="fa fa-file-text-o"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
  
</div>
</div>